$primaryColor: #FBFBFB;
$aqua: #7FDBFF;
$black: #181818;
$blackLighten: #585858;
$blue: #337AB7;
$blueArctic: #00BCD4;
$blueArcticDark: #009EB3;
$blueGlow: #0DAAFF;
$blueSea: #1B6099;
$bootstrapError: #a94442;
$bootstrapInfo: rgb(91, 192, 222);
$bootstrapSuccess: #5cb85c;
$coralLight: #fce8e8;
$switchboardBlueOld: #313E4B;
$switchboardBlue: #364554;
$gold: #EBC97A;
$grayCalm: #656565;
$grayCalmLighten: #F1F0F5;
$grayHover: #F4F3F3;
$grayMatte: #EAEAEA;
$greenActive: #07DF88;
$greenLight: #cefdea;
$greenKelly: #0E9D3E;
$greenKermit: #739900;
$greenKermitDark: #608000;
$greenLime: #AFC633;
$metal: #292E37;
$navy: #001F3F;
$offWhiteBlue: #ECF0F7;
$offWhiteSuper: #fcfdff;
$orange: #FF851B;
$paleRed: #ff6666;
$red: #FF4136;
$redDark: #FF0D00;
$redMaple: #E03857;
$silver: #DDDDDD;
$white: #FFFFFF;
$whiteGray: #F6F7F9;
$yellowTruck: #E4B74E;
$yellowTruckDark: #E1AE37;