.app-wrapper {
  display: flex;
  margin: 0 auto;
  min-height: 100%;
  flex-direction: column;

  .routed-components {
  }

  .background-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    background-image: url("../../images/misc/tumi-face.png");
    background-repeat: repeat;
    z-Index: -99;
  }

  .background-tint {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .72);
    z-Index: -99;
  }
}